*{
	margin: 0px;
	padding: 0px;
}
.nav{
width: 100%;
height: 60px;
background-color: #6455cc;
box-shadow: rgba(0,0,0,0.4) 0 2px 6px 0;
float: right;
     font-weight:bold;
     text-align:center;
}
ul{
	list-style-type: none;


}
ul li{
	float: left;
	width: 140px;
	height: 60px;
	font-size: 20px;
	line-height: 60px;
	text-align: center;
	background-color: #6455cc;
}
ul li a{
	text-decoration: none;
	color: black;
	display: block;
	color: white;
}
ul li a:hover{
	background-color:lightskyblue;
	transition: 1s all ease;
	color: white;
}
ul li ul li{
	display: none;
	background-color: #6455cc;
	box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;
	height: 60px;
	transition: 1s all ease;
}
ul li:hover ul li{
	display: block;
	transition: 1s all ease;
	color: black;
	
}
ul li:hover ul li a{
	color: black;
	background-color:palegoldenrod;
	}
ul li:hover ul li a:hover{
	color: white;
	background-color: navy;
	display: block;
	}

 body{  
      font-family: Calibri, Helvetica, sans-serif;  
      background-color: #fff; 

    }  
    .contents{
      background-color: #fff;
      padding-left: 100px;
	  margin-top: 50px;
    }
      
.select, input[type=text], input[type=password], input[type=email] {  
      width: 100%;  
      padding: 15px;  
      margin: 5px 0 22px 0;  
      display: inline-block;  
      border: none;  
      background: #f1f1f1;  
    }  
.select:focus, input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {  
      background-color:#f1f1f1;  
      outline: none; 
      font-weight: bolder;
      color: black;
    }  
div {  
          padding: 0;  
             }  
hr {  
      border: 1px solid #6455cc;  
      margin-bottom: 25px;  
    } 
.table{
    width: 100%;
    height:100%;
    padding-left: 45%;
  } 
.registerbtn {  
      background-color:navy;  
      color: lightblue;  
      padding: 16px 20px;  
      margin: 8px 0;  
      border: none;  
      cursor: pointer;  
      width: 50%;  
      opacity: 0.9;  
    }  
.registerbtn:hover {  
      opacity: 0.7;
	    
    } 
	
	* {
  	box-sizing: border-box;
  	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  	font-size: 16px;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
body {
  	background-color: #FFFFFF;
  	margin: 0;
    
        background-image: url("image/H3.jpg");
}
.navtop {
  	background-color: #3f69a8;
  	height: 60px;
  	width: 100%;
  	border: 0;
}
.navtop div {
  	display: flex;
  	margin: 0 auto;
  	width: 1000px;
  	height: 100%;
}
.navtop div h1, .navtop div a {
  	display: inline-flex;
  	align-items: center;
}
.navtop div h1 {
  	flex: 1;
  	font-size: 24px;
  	padding: 0;
  	margin: 0;
  	color: #ecf0f6;
  	font-weight: normal;
}
.navtop div a {
  	padding: 0 20px;
  	text-decoration: none;
  	color: #c5d2e5;
  	font-weight: bold;
}
.navtop div a i {
  	padding: 2px 8px 0 0;
}
.navtop div a:hover {
  	color: #ecf0f6;
}
.content {
  	width: 1000px;
  	margin: 0 auto;
}
.content h2 {
  	margin: 0;
  	padding: 25px 0;
  	font-size: 22px;
  	border-bottom: 1px solid #ebebeb;
  	color: #666666;
}
.read .create-contact {
  	display: inline-block;
  	text-decoration: none;
  	background-color: #38b673;
  	font-weight: bold;
  	font-size: 14px;
  	color: #FFFFFF;
  	padding: 10px 15px;
  	margin: 15px 0;
}
.read .create-contact:hover {
  	background-color: #32a367;
}
.create-contact {
    display: inline-block;
    text-decoration: none;
    background-color: #38b673;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    padding: 10px 15px;
    margin: 15px 0;
}
.create-contact:hover {
    background-color: #32a367;
}
.read table {
  	width: 100%;
  	padding-top: 30px;
  	border-collapse: collapse;
}
.read table thead {
  	background-color: #ebeef1;
  	border-bottom: 1px solid #d3dae0;
}
.read table thead td {
  	padding: 10px;
  	font-weight: bold;
  	color:lightgoldenrodyellow;
  	font-size: 14px;
}
.read table tbody tr {
  	border-bottom: 1px solid #d3dae0;
}
.read table tbody tr:nth-child(even) {
  	background-color: lightskyblue;
}
.read table tbody tr:hover {
  	background-color: #376ab7;
}
.read table tbody tr:hover td {
  	color: #FFFFFF;
}
.read table tbody tr:hover td:nth-child(1) {
  	color: #FFFFFF;
}
.read table tbody tr td {
  	padding: 10px;
}
.read table tbody tr td:nth-child(1) {
  	color: #a5a7a9;
}
.read table tbody tr td.actions {
  	padding: 8px;
  	text-align: right;
}
.read table tbody tr td.actions .edit, .read table tbody tr td.actions .trash {
  	display: inline-flex;
  	text-align: right;
  	text-decoration: none;
  	color: #FFFFFF;
  	padding: 10px 12px;
}
.read table tbody tr td.actions .trash {
  	background-color:lightskyblue;
}
.read table tbody tr td.actions .trash:hover {
  	background-color:lightskyblue;
}
.read table tbody tr td.actions .edit {
  	background-color: lightskyblue;
}
.read table tbody tr td.actions .edit:hover {
  	background-color: #319ca3;
}
.update form {
  	padding: 15px 0;
  	display: flex;
  	flex-flow: wrap;
}
.update form label {
  	display: inline-flex;
  	width: 400px;
  	padding: 10px 0;
  	margin-right: 25px;
}
.update form input {
  	padding: 10px;
  	width: 400px;
  	margin-right: 25px;
  	margin-bottom: 15px;
  	border: 1px solid #cccccc;
}
.update form input[type="submit"] {
  	display: block;
  	background-color: #38b673;
  	border: 0;
  	font-weight: bold;
  	font-size: 14px;
}
footer {
  float: bottom;
   background-color: green;
   color: white; 
   text-align:  right;
   font-style: italic;
   font-weight: bolder; 
   display: inline;
  	border: 5px;
  	width: 100%;
        display: flex;
       
}
.a{
padding-bottom:125px;
}
.divform1{
   
    background-attachment: fixed;
	border-style:none;
	background:blue;
	color:steelblue;
        display:block;
		border:1px solid blue;
		border-radius:10px;
		padding:30px;
		width:25%;
		background:#f8f8f8;
		margin-left:350px;
		margin-top:250px;
		border:2px solid darkblue;
	border-radius:15px;
	background-color:lightyellow;
        
}

.mebre{
    margin-bottom: -200px;
    height: 700px;
    background-image: url("../image/h1.jpg");
}
